<RabbitMQConfig>
  <Item Index="1" Name="测试1">
    <HostUri>amqp://192.1.1.1:1/</HostUri>
    <HostName>192.1.1.1:1</HostName>
    <UserName>admin</UserName>
    <Password>123</Password>
    <VirtualHost>ms_mq</VirtualHost>
    <IsDurable>true</IsDurable>
    <ThreadCount>0</ThreadCount>
    <Timeout>60</Timeout>
  </Item>
  <Item Index="2" Name="测试2">
    <HostUri>amqp://192.2.2.2:2/</HostUri>
    <HostName>192.2.2.2:2</HostName>
    <UserName>admin</UserName>
    <Password>456</Password>
    <VirtualHost>ms_mq</VirtualHost>
    <IsDurable>true</IsDurable>
    <ThreadCount>0</ThreadCount>
    <Timeout>60</Timeout>
  </Item>
</RabbitMQConfig>